<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GoSlang</title>
    <script src="/public/vendor/jquery-3.2.0.min.js"></script>
  </head>
  <body>
      <div class="message">
        <ul id="message-list">
          {{if .Messages}}
            {{range .Messages}}
              <li>{{.}}</li>
            {{end}}
          {{else}}
            <li></li>
          {{end}}
        </ul>
      </div>
    <div class="send-message">
      <form id="sumbit" class="message">
        <input id="new-message" type="text" value="" />
      </form>
    </div>
  </body>
  <script>
    let conn
    const messageFactor = (msg, room) => ({
      message: msg,
      room: room,
      time: Math.trunc(new Date().getTime()/1000)
    })
    window.onload = function(){
      document.getElementById('sumbit').onsubmit = function(evt){
        evt.preventDefault()
        const messageText = document.getElementById('new-message').value
        if (!messageText) {
          return false
        }
        if (!conn){
          return false
        }
        const msg = messageFactor(messageText, "main")
        conn.send(JSON.stringify(msg))
        document.getElementById('new-message').value = ""
        return false
      }
      if (window["WebSocket"]) {
        conn = new WebSocket("ws://" + document.location.host + "/ws")
        conn.onmessage = function(evt){
          let message = JSON.parse(event.data)
          const $message = $('<li>').text(message.message)
          $("#message-list").prepend($message)
        }
      }
    }
  </script>
</html>
